* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: OpenSans;
  font-weight: 700;
  src: url(assets/font/Open_Sans/static/OpenSans-Bold.ttf);
}
@font-face {
  font-family: OpenSans;
  font-weight: 600;
  src: url(assets/font/Open_Sans/static/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: OpenSans;
  font-weight: 400;
  src: url(assets/font/Open_Sans/static/OpenSans-Regular.ttf);
}
body {
  font-family: OpenSans, sans-serif;
  background-color: #d19035;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.flexbox {
  text-align: center;
  border: 2rem #d19035 solid;
  padding: 4rem;
}
h1 {
  font-weight: 700;
  font-size: 4rem;
}
p {
  font-weight: 600;
  font-size: 2rem;
}
.icon {
  width: 4rem;
}
