:root {
  --text: #130e01;
  --background: #4c92b7;
  --primary: #ffffff;
  --secondary: #1f757b;
  --accent: #cf4307;
}

body.dark {
  --text: #fef9ec;
  --background: #140f00;
  --primary: #ff8400;
  --secondary: #291f00;
  --accent: #f86c30;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Amiko", sans-serif;
}

@font-face {
  font-family: "Amiko", sans-serif;
  font-weight: 700;
  src: url(assets/font/Amiko/Amiko-Bold.ttf);
}
@font-face {
  font-family: "Amiko", sans-serif;
  font-weight: 400;
  src: url(assets/font/Amiko/Amiko-Regular.ttf);
}
@font-face {
  font-family: "Amiko", sans-serif;
  font-weight: 600;
  src: url(assets/font/Amiko/Amiko-SemiBold.ttf);
}

body {
  background-color: var(--background);
  height: 100vh;
}

/* navigation */
.navigation {
  display: flex;
  justify-content: end;
  margin: 4rem;
}

/* body > header > nav > button {
  text-decoration: none;
  color: green;
  width: 4rem;
  height: 1.5rem;
  margin: 1rem;
  border-radius: 1rem;
  outline: 0;
} */

/* main */
.wrapper {
  overflow: hidden;
}
.container {
  max-width: 20rem;
  padding: 1rem;
  background-color: var(--primary);
  overflow: hidden;
  position: relative;
}

.container--center {
  display: flex;
  justify-content: center;
  flex-direction: column;

  align-items: center;
}
.title--red {
  color: var(--secondary);
}
.title {
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 3rem;
  text-align: center;
}
.text--secondary {
  color: var(--secondary);
}
.text {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.contact {
  display: flex;
  justify-content: space-around;
}
.contact__icon {
  width: 3rem;
}

/* grid Versuch */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

/* ipad */
@media (min-width: 640px) and (max-width: 768px) {
  .container {
    margin: auto;
    background-color: hotpink;
    width: 100%;
  }
  .container--center {
    width: 100%;
  }
}

/* mobile */
@media (min-width: 320px) and (max-width: 640px) {
  .container {
    margin: auto;
    background-color: green;
    max-width: 640px;
  }
  .container--center {
    width: 100%;
  }
}
